<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.box.dao.HospitalDao">

    <resultMap id="baseRsp" type="com.box.vo.rsp.HospitalRsp">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseField">
        name,create_at,update_at
    </sql>

    <insert id="add" parameterType="com.box.vo.req.HospitalReq" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_hospital (<include refid="baseField"/>)
        VALUES (#{name},NOW(),NOW())
    </insert>
    <select id="getById" resultMap="baseRsp">
        SELECT id,<include refid="baseField"/>
        FROM t_hospital
        WHERE id = ${id}
    </select>
</mapper>